<form action="<%= $SITE_URL %>/admin/category/<%= @category_id %>" method="post">
	<p>编号<%= @category_id %> : <input type="text" name="name" value="<%= @category_name %>" /></p>
	<input type="submit" value="提交" />
</form>