<div id="comment-form" class="comment-form" >
	<form action="<%= $SITE_URL %>/article_comment/<%= @article_id %>" method="post" class="comment-form">
		<input class="input-author" type="text" name="name" value="输入名称"/><br />
		<textarea id="comment-form-content" class="input-content" name="content">输入留言</textarea><br />
		<input type="submit" value="提交" />
	</form>
</div>