<div class="comment-page-bar">
	<%= "<a href=\"?comment_page=#{@comment_page-1}\" style=\"float: left;\">←上一页</a>" if @comment_page > 1 %>
	<%= "<a href=\"?comment_page=#{@comment_page+1}\" style=\"float: right;\">下一页→</a>" if @comment_page < @max_comment_page %>
</div>