<a <%= 'class="current"' if @current_nav==1 %> href="http://may-fly.org/">首页</a>
<a <%= 'class="current"' if @current_nav==2 %> href="http://may-fly.org/article/9">关于我们</a>
<a <%= 'class="current"' if @current_nav==3 %> href="http://may-fly.org/category/1">策划</a>
