<div class="page-bar">
	<%= "<a href=\"?page=#{@page-1}\" style=\"float: left;\">←上一页</a>" if @page > 1 %>
	<%= "<a href=\"?page=#{@page+1}\" style=\"float: right;\">下一页→</a>" if @page < @max_page %>
</div>