
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="zh-CN">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="zh-CN">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<!-- <meta name="viewport" content="width=device-width" /> -->
<title><%= @page_title %></title>

<!--[if lt IE 9]>
<script src="http://may-fly.org/wp-content/themes/twentytwelve/js/html5.js" type="text/javascript"></script>
<![endif]-->
<link rel='stylesheet' id='twentytwelve-fonts-css'  href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&#038;subset=latin,latin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='twentytwelve-style-css'  href='http://may-fly.org/wp-content/themes/twentytwelve/style.css?ver=3.7.1' type='text/css' media='all' />
<!--[if lt IE 9]>
<link rel='stylesheet' id='twentytwelve-ie-css'  href='http://may-fly.org/wp-content/themes/twentytwelve/css/ie.css?ver=20121010' type='text/css' media='all' />
<![endif]-->

<style type="text/css" id="custom-background-css">
body.custom-background { background-color: #e6e6e6; }
</style>
</head>

<body class="single custom-background custom-font-enabled single-author">
<div id="page" class="site">
	<header id="masthead" class="site-header" role="banner">
		<hgroup>
			<h1 class="site-title"><a href="http://may-fly.org/" title="蜉蝣人文爱好小组" rel="home">蜉蝣人文爱好小组</a></h1>
			<h2 class="site-description">心之忧矣，於我归处。</h2>
		</hgroup>

		<nav id="site-navigation" class="main-navigation" role="navigation">
			<div><ul class="nav-menu">
				<li class="menu-item"><a href="http://may-fly.org/">首页</a></li>
</ul></div>		</nav><!-- #site-navigation -->

			</header><!-- #masthead -->

	<div id="main" class="wrapper">
		
			<div id="secondary" class="widget-area" role="complementary">
			<aside id="search-2" class="widget widget_search"><form role="search" method="get" id="searchform" class="searchform" action="http://may-fly.org/search">
				<div>
					<label class="screen-reader-text" for="s">搜索：</label>
					<input type="text" value="" name="s" id="s" />
					<input type="submit" id="searchsubmit" value="搜索" />
				</div>
			</form></aside>		<aside id="recent-posts-2" class="widget widget_recent_entries">		<h3 class="widget-title">近期文章</h3>		<ul>
					<li>
				<a href="http://may-fly.org/archives/12">menu element</a>
						</li>
				</ul>
		</aside><aside id="categories-2" class="widget widget_categories"><h3 class="widget-title">分类目录</h3>		<ul>
	<li class="cat-item cat-item-1"><a href="http://may-fly.org/archives/category/uncategorized" title="查看未分类下的所有文章">menu element</a>
</li>
		</ul>
</aside>		</div><!-- #secondary -->
	<%= @content %>
		</div><!-- #main .wrapper -->
	<footer id="colophon" role="contentinfo">
		<div class="site-info">
			Powered by CicholGricenchos
		</div><!-- .site-info -->
	</footer><!-- #colophon -->
</div><!-- #page -->

</body>
</html>