
	<div id="primary" class="site-content">
		<div id="content" role="main">
	<article class="post">
				<header class="entry-header">
									<h1 class="entry-title"><a href="http://may-fly.org/article/<%= @id %>"><%= @title %></a></h1>
								</header><!-- .entry-header -->

				<div class="entry-content">
					<p><%= @brief %></p>
				</div><!-- .entry-content -->
		
		<footer class="entry-meta">
			本条目发布于<a href="http://may-fly.org/archives/12" title="下午1:45" rel="bookmark"><time class="entry-date" datetime="2014-05-11T13:45:30+00:00">date</time></a>。属于<a href="http://may-fly.org/archives/category/uncategorized" title="查看未分类中的全部文章" rel="category tag">category</a>分类。<span class="by-author">作者是<span class="author vcard"><a class="url fn n" href="http://may-fly.org/archives/author/cichol" title="查看所有由Cichol发布的文章" rel="author">Cichol</a></span>。</span>								</footer><!-- .entry-meta -->
	</article><!-- #post -->
		</div><!-- #content -->
	</div><!-- #primary -->
